<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table border="1" cellpadding="7">
<tr>
    <td>ID</td>
    <td>Login</td>
    <td>Password</td>
    <td>Changes</td>
    <td>Authorities</td>
</tr>
<div th:each="user : ${users}">
        <tr>
            <td th:text="${user.getId()}">user</td>
            <td th:text="${user.getLogin()}">user</td>
            <td th:text="${user.getPassword()}">user</td>
            <td><a th:href="@{/editUser/{id}(id=${user.getId()})}">Edit</a>
                <a th:href="@{/deleteUser/{id}(id=${user.getId()})}">Delete</a></td>
            </td>
            <td th:text="${user.getAuthorities()}">user</td>

        </tr>

    </div>

</table>

<div>
    <button onclick="location.href='/newUser'">Add new user</button>
</div>

</body>
</html>