<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST"  th:object="${user}">
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>

    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>

    <label>Role:
        <p><input name="user" value="user" type="checkbox"> user</p>
        <p><input name="admin" value="admin" type="checkbox"> admin</p>
        <br/></label>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>